.gradle
/gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
*/build
.classpath
.project
/test_servers
/app



.idea/misc.xml
.idea/misc.xml
*.index
*.zip
*.hprof
*.gradle
