.gradle
/gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
*/build
.classpath
.project
/test_servers
/app
.idea/misc.xml
.idea/misc.xml
*.index
*.zip
*.hprof
*.gradle
.idea/misc.xml
.irb-history
app/app.iml
build.gradle
facebook/build.gradle
facebook/facebook.iml
.irb-history
app/app.iml
build.gradle
